.DS_Store
.project
.settings
test/testchain/geth
test/testchain/geth.ipc
test/testchain/history
test/contracts
test_old/testchain/geth
test_old/testchain/geth.ipc
test_old/testchain/history
test_old/contracts
private
build
node_modules
old
